<!DOCTYPE html>
<html lang="en">
<head>
<title>{% block title %}{% endblock %}</title>
{% include './partial/meta.html' %}
<link rel="stylesheet" href="/lib/fontello/fontello.css">
<link rel="stylesheet" href="/lib/reboto/roboto.css">
<style>{% include '../lib/base.css' %}</style>
{% if env == 'dev' %}
<link rel="stylesheet/less" type="text/css" href="/less/index.less">
<script src="/lib/less.min.js" type="text/javascript"></script>
{% else %}
<link rel="stylesheet" href="/css/index.css">
{% endif %}{% block css %}{% endblock %}
</head>
<body>
{% autoescape false %}
{% block content %}{% endblock %}
{% endautoescape %}
{% include './partial/copyright.html' %}
{% block js %}{% endblock %}
</body>
</html>